<div class="datalist m-5">
    <h4>New User Registration</h4>
    <div class="card" *ngFor="let data of userlist">
        <div class="row no-gutters">
          <div class="col-md-4 figure">
            <img [src]="data.picture" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
              <p class="card-text">{{data.country}}</p>
              <p class="card-text"><small class="text-muted">{{data.progress}}</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
