
.no-gutters img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.datalist{
    height: 600px;
    overflow: hidden;
}
.figure{
    display: flex;
    align-items: center;
    padding-left: 25px;
}
img{
    border-radius:50% 50% 50% 50%;  
    width:100px;
    height:50px;
}