
<div class="container">

    <app-header></app-header>

    <div class="section">

    
            <div class="section-right">
                <app-leftnavigation></app-leftnavigation>

            </div>
            <div class="section-data p-3">
                <app-cards></app-cards>
                <div class="section-order d-flex">
                    <app-orders></app-orders>
                    <app-newuser></app-newuser>
                </div>
                <app-charts></app-charts>
            </div>
   
    
    </div>
    
    
    
</div>

