@import "../mixin.scss";



.container{
    height: 1920px;
    width: 1080px;
    border: 4px solid color(primary);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: color(secondary);
}
.section{
    display: flex;
    flex-direction: row;

    &-right{
        width: 50px;
    }
}

